openapi: 3.1.0
info:
  title: Enclii Platform API
  description: |
    Open source DevOps platform API for deploying and managing containerized applications.

    ## Overview

    Enclii Switchyard is the control plane API that manages projects, services, deployments,
    domains, teams, and infrastructure. It provides a comprehensive REST API with 107+ endpoints
    covering the complete application lifecycle.

    ## Authentication

    Most endpoints require JWT authentication. There are two authentication modes:

    - **OIDC Mode** (Production): Uses Janua SSO with RS256 JWT validation
    - **Local Mode** (Development): Uses self-signed JWT with password-based auth

    Include the token in the `Authorization` header as `Bearer <token>`.

    ## Rate Limiting

    - Auth endpoints: 10 requests/minute (5 for register/login)
    - Standard endpoints: 100 requests/minute
    - Build endpoints: 20 requests/minute

    ## Environments

    Services can be deployed to multiple environments:
    - `dev` - Development (default)
    - `staging` - Pre-production testing
    - `prod` - Production

    ## WebSocket Endpoints

    Real-time log streaming is available via WebSocket:
    - `ws://api.enclii.dev/v1/services/{id}/logs/stream` - Service logs
    - `ws://api.enclii.dev/v1/deployments/{id}/logs/stream` - Deployment logs
    - `ws://api.enclii.dev/v1/services/{id}/builds/{build_id}/logs/stream` - Build logs

  version: 1.0.0
  contact:
    name: MADFAM Engineering
    email: engineering@madfam.io
    url: https://enclii.dev
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html

servers:
  - url: https://api.enclii.dev/v1
    description: Production API
  - url: https://api.staging.enclii.io/v1
    description: Staging API
  - url: http://localhost:4200/v1
    description: Local development

tags:
  - name: health
    description: Health check and status endpoints
  - name: auth
    description: Authentication and session management
  - name: projects
    description: Project management operations
  - name: environments
    description: Environment management within projects
  - name: services
    description: Service CRUD and configuration
  - name: builds
    description: Build pipeline and releases
  - name: deployments
    description: Deployment operations and rollbacks
  - name: logs
    description: Log retrieval and streaming
  - name: domains
    description: Custom domain and TLS management
  - name: env-vars
    description: Environment variable management
  - name: previews
    description: PR-based preview environments
  - name: deployment-groups
    description: Coordinated multi-service deployments
  - name: dependencies
    description: Service dependency management
  - name: topology
    description: Service topology and impact analysis
  - name: teams
    description: Team and member management
  - name: invitations
    description: Team invitations
  - name: usage
    description: Usage tracking and billing
  - name: activity
    description: Activity and audit logs
  - name: observability
    description: Metrics, health, and alerts
  - name: integrations
    description: External integrations (GitHub)
  - name: tokens
    description: API token management for CLI/CI
  - name: lifecycle
    description: Deployment lifecycle event tracking and timeline queries
  - name: onboarding
    description: Self-service repository onboarding
  - name: admin
    description: Admin control plane - fleet, clusters, infrastructure, multi-tenancy, governance, costs
  - name: timetable
    description: "Cron jobs and one-off scheduled tasks (NOT IMPLEMENTED — ETA: Q2 2026)"
  - name: junctions
    description: "Advanced routing, ingress management, and certificate automation (NOT IMPLEMENTED — ETA: Q3 2026)"

paths:
  # ============================================
  # HEALTH ENDPOINTS
  # ============================================
  /health:
    get:
      summary: API health check
      description: Returns the health status of the API
      tags: [health]
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: ok
                version: 1.0.0
                uptime: 3600
        '503':
          description: Service is unhealthy

  /health/ready:
    get:
      summary: Readiness probe
      description: Returns whether the service is ready to accept traffic
      tags: [health]
      operationId: getReadiness
      security: []
      responses:
        '200':
          description: Service is ready
        '503':
          description: Service is not ready

  /health/live:
    get:
      summary: Liveness probe
      description: Returns whether the service is alive
      tags: [health]
      operationId: getLiveness
      security: []
      responses:
        '200':
          description: Service is alive
        '503':
          description: Service is not alive

  /build/status:
    get:
      summary: Build pipeline status
      description: Returns build pipeline status and available build tools
      tags: [health]
      operationId: getBuildStatus
      security: []
      responses:
        '200':
          description: Build status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: operational
                  tools:
                    type: array
                    items:
                      type: string
                    example: [nixpacks, docker, buildpack]

  /dashboard/stats:
    get:
      summary: Dashboard statistics
      description: |
        Returns aggregated statistics for the dashboard including healthy services count,
        deployments today, active projects, and recent activity. This endpoint is public
        (no authentication required) for local development dashboards.
      tags: [health]
      operationId: getDashboardStats
      security: []
      responses:
        '200':
          description: Dashboard statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardStats'

  # ============================================
  # AUTHENTICATION ENDPOINTS
  # ============================================
  /auth/login:
    post:
      summary: Login (local auth mode)
      description: Authenticate with email and password. Only available when ENCLII_AUTH_MODE=local.
      tags: [auth]
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: developer@example.com
              password: securepassword123
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
    get:
      summary: OIDC Login redirect (OIDC mode)
      description: Redirects to OIDC provider (Janua) for authentication. Only available when ENCLII_AUTH_MODE=oidc.
      tags: [auth]
      operationId: oidcLogin
      security: []
      responses:
        '302':
          description: Redirect to OIDC provider

  /auth/register:
    post:
      summary: Register new user (local auth mode)
      description: Create a new user account. Only available when ENCLII_AUTH_MODE=local.
      tags: [auth]
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Validation error
        '409':
          description: Email already exists

  /auth/callback:
    get:
      summary: OIDC callback
      description: OAuth callback endpoint that receives authorization code from OIDC provider.
      tags: [auth]
      operationId: oidcCallback
      security: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: Authorization code from OIDC provider
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: CSRF state token
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid callback parameters

  /auth/silent-check:
    get:
      summary: Silent SSO check
      description: Check for existing SSO session (used in iframe for silent authentication).
      tags: [auth]
      operationId: silentCheck
      security: []
      responses:
        '200':
          description: Session check result

  /auth/callback/silent:
    get:
      summary: Silent callback
      description: Silent auth callback that posts result to parent window.
      tags: [auth]
      operationId: silentCallback
      security: []
      responses:
        '200':
          description: Silent auth result

  /auth/refresh:
    post:
      summary: Refresh access token
      description: Exchange a refresh token for a new access token.
      tags: [auth]
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '401':
          description: Invalid or expired refresh token

  /auth/logout:
    post:
      summary: Logout
      description: Invalidate current session and optionally return OIDC logout URL.
      tags: [auth]
      operationId: logout
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Logged out successfully
                  logout_url:
                    type: string
                    description: OIDC logout URL (if using OIDC mode)

  /auth/jwks:
    get:
      summary: JWKS endpoint
      description: JSON Web Key Set for token verification (local auth mode).
      tags: [auth]
      operationId: getJwks
      security: []
      responses:
        '200':
          description: JWKS
          content:
            application/json:
              schema:
                type: object

  # ============================================
  # PROJECTS
  # ============================================
  /projects:
    get:
      summary: List projects
      description: Get all projects accessible to the authenticated user.
      tags: [projects]
      operationId: listProjects
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Project list
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
    post:
      summary: Create project
      description: Create a new project. Requires admin role.
      tags: [projects]
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '409':
          description: Project slug already exists

  /projects/{slug}:
    get:
      summary: Get project
      description: Get project details by slug.
      tags: [projects]
      operationId: getProject
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: my-project
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: Project not found

  # ============================================
  # ENVIRONMENTS
  # ============================================
  /projects/{slug}/environments:
    get:
      summary: List environments
      description: Get all environments for a project.
      tags: [environments]
      operationId: listEnvironments
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Environment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  environments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Environment'
    post:
      summary: Create environment
      description: Create a new environment for a project.
      tags: [environments]
      operationId: createEnvironment
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentRequest'
      responses:
        '201':
          description: Environment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'

  /projects/{slug}/environments/{env_name}:
    get:
      summary: Get environment
      description: Get environment details by name.
      tags: [environments]
      operationId: getEnvironment
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: env_name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Environment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'

  /environments:
    get:
      summary: List all environments
      description: Get all environments across all projects.
      tags: [environments]
      operationId: getAllEnvironments
      responses:
        '200':
          description: Environment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  environments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Environment'

  # ============================================
  # SERVICES
  # ============================================
  /projects/{slug}/services:
    get:
      summary: List services
      description: Get all services in a project.
      tags: [services]
      operationId: listServices
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Service list
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
    post:
      summary: Create service
      description: Create a new service in a project.
      tags: [services]
      operationId: createService
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest'
      responses:
        '201':
          description: Service created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'

  /projects/{slug}/services/bulk:
    post:
      summary: Bulk create services
      description: |
        Create multiple services at once. Useful for monorepos where multiple
        services share the same git repository.
      tags: [services]
      operationId: bulkCreateServices
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCreateServicesRequest'
      responses:
        '201':
          description: Services created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreateServicesResponse'

  /services/{id}:
    get:
      summary: Get service
      description: Get service details by ID.
      tags: [services]
      operationId: getService
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Service details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '404':
          description: Service not found
    patch:
      summary: Update service
      description: Update service configuration.
      tags: [services]
      operationId: updateService
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest'
      responses:
        '200':
          description: Service updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    $ref: '#/components/schemas/Service'
                  message:
                    type: string
    delete:
      summary: Delete service
      description: Delete a service and all its resources. Requires admin role.
      tags: [services]
      operationId: deleteService
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Service deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /services/{id}/settings:
    get:
      summary: Get service settings
      description: Get detailed service settings and configuration.
      tags: [services]
      operationId: getServiceSettings
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Service settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSettings'

  /services/{id}/status:
    get:
      summary: Get service status
      description: Get current service status including pod count and health.
      tags: [services]
      operationId: getServiceStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Service status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceStatus'

  /services/{id}/networking:
    get:
      summary: Get service networking
      description: Get networking configuration including routes, domains, and TLS status.
      tags: [services]
      operationId: getServiceNetworking
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Networking configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkingConfig'

  # ============================================
  # BUILDS & RELEASES
  # ============================================
  /services/{id}/build:
    post:
      summary: Trigger build
      description: Start a new build for the service.
      tags: [builds]
      operationId: buildService
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildRequest'
      responses:
        '202':
          description: Build started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Release'

  /services/{id}/releases:
    get:
      summary: List releases
      description: Get all releases for a service.
      tags: [builds]
      operationId: listReleases
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Release list
          content:
            application/json:
              schema:
                type: object
                properties:
                  releases:
                    type: array
                    items:
                      $ref: '#/components/schemas/Release'

  /services/{id}/builds/{build_id}/logs:
    get:
      summary: Get build logs
      description: Get logs for a specific build.
      tags: [logs]
      operationId: getBuildLogs
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: build_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Build logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: string

  # ============================================
  # DEPLOYMENTS
  # ============================================
  /services/{id}/deploy:
    post:
      summary: Deploy service
      description: Deploy a release to an environment.
      tags: [deployments]
      operationId: deployService
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployRequest'
      responses:
        '202':
          description: Deployment started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'

  /services/{id}/deployments:
    get:
      summary: List service deployments
      description: Get all deployments for a service.
      tags: [deployments]
      operationId: listServiceDeployments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Deployment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  deployments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deployment'

  /services/{id}/deployments/latest:
    get:
      summary: Get latest deployment
      description: Get the most recent deployment for a service.
      tags: [deployments]
      operationId: getLatestDeployment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Latest deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'

  /deployments/{id}:
    get:
      summary: Get deployment
      description: Get deployment details by ID.
      tags: [deployments]
      operationId: getDeployment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Deployment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'

  /deployments/{id}/rollback:
    post:
      summary: Rollback deployment
      description: Rollback to a previous release.
      tags: [deployments]
      operationId: rollbackDeployment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                target_release_id:
                  type: string
                  format: uuid
                  description: Specific release to rollback to (optional, defaults to previous)
      responses:
        '200':
          description: Rollback initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'

  /deployments/{id}/logs:
    get:
      summary: Get deployment logs
      description: Get logs for a deployment.
      tags: [logs]
      operationId: getDeploymentLogs
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: lines
          in: query
          schema:
            type: integer
            default: 100
        - name: tail
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Log content
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: string

  # ============================================
  # LOGS
  # ============================================
  /services/{id}/logs/history:
    get:
      summary: Get log history
      description: Get historical logs for a service.
      tags: [logs]
      operationId: getLogsHistory
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Log entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LogEntry'

  /services/{id}/logs/search:
    post:
      summary: Search logs
      description: Search logs with query and time range.
      tags: [logs]
      operationId: searchLogs
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                limit:
                  type: integer
                  default: 100
                time_range:
                  type: string
                  enum: ['1h', '6h', '24h', '7d']
      responses:
        '200':
          description: Matching log entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LogEntry'

  # ============================================
  # CUSTOM DOMAINS
  # ============================================
  /services/{id}/domains:
    get:
      summary: List custom domains
      description: Get all custom domains for a service.
      tags: [domains]
      operationId: listCustomDomains
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Domain list
          content:
            application/json:
              schema:
                type: object
                properties:
                  domains:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomDomain'
    post:
      summary: Add custom domain
      description: Add a custom domain to a service.
      tags: [domains]
      operationId: addCustomDomain
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domain
              properties:
                domain:
                  type: string
                  example: app.example.com
      responses:
        '201':
          description: Domain added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'

  /services/{id}/domains/{domain_id}:
    get:
      summary: Get custom domain
      description: Get custom domain details.
      tags: [domains]
      operationId: getCustomDomain
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Domain details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
    patch:
      summary: Update custom domain
      description: Update domain settings.
      tags: [domains]
      operationId: updateCustomDomain
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tls_enabled:
                  type: boolean
                zero_trust_enabled:
                  type: boolean
      responses:
        '200':
          description: Domain updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
    delete:
      summary: Delete custom domain
      description: Remove a custom domain from a service.
      tags: [domains]
      operationId: deleteCustomDomain
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Domain deleted

  /services/{id}/domains/{domain_id}/verify:
    post:
      summary: Verify domain
      description: Verify DNS configuration for a custom domain.
      tags: [domains]
      operationId: verifyCustomDomain
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                  message:
                    type: string

  /domains:
    get:
      summary: List all domains
      description: Get all custom domains across all services.
      tags: [domains]
      operationId: getAllDomains
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: verified
          in: query
          schema:
            type: boolean
        - name: tls_enabled
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Domain list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsListResponse'

  /domains/stats:
    get:
      summary: Get domain statistics
      description: Get aggregate domain statistics.
      tags: [domains]
      operationId: getDomainStats
      responses:
        '200':
          description: Domain statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  verified:
                    type: integer
                  pending:
                    type: integer
                  tls_enabled:
                    type: integer

  /domains/sync:
    post:
      summary: Sync domains from Cloudflare
      description: Sync all domains from Cloudflare. Requires admin role.
      tags: [domains]
      operationId: syncDomainsFromCloudflare
      responses:
        '200':
          description: Sync complete
          content:
            application/json:
              schema:
                type: object
                properties:
                  synced:
                    type: integer
                  message:
                    type: string

  /tunnel/status:
    get:
      summary: Get tunnel status
      description: Get Cloudflare tunnel status.
      tags: [domains]
      operationId: getTunnelStatus
      responses:
        '200':
          description: Tunnel status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [active, degraded, offline]
                  connections:
                    type: integer

  # ============================================
  # ENVIRONMENT VARIABLES
  # ============================================
  /services/{id}/env-vars:
    get:
      summary: List environment variables
      description: Get all environment variables for a service.
      tags: [env-vars]
      operationId: listEnvVars
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Environment variable list
          content:
            application/json:
              schema:
                type: object
                properties:
                  env_vars:
                    type: array
                    items:
                      $ref: '#/components/schemas/EnvVar'
    post:
      summary: Create environment variable
      description: Add a new environment variable.
      tags: [env-vars]
      operationId: createEnvVar
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvVarRequest'
      responses:
        '201':
          description: Variable created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvVar'

  /services/{id}/env-vars/bulk:
    post:
      summary: Bulk upsert environment variables
      description: Create or update multiple environment variables at once.
      tags: [env-vars]
      operationId: bulkUpsertEnvVars
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                env_vars:
                  type: array
                  items:
                    $ref: '#/components/schemas/CreateEnvVarRequest'
      responses:
        '200':
          description: Variables upserted
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                  updated:
                    type: integer

  /services/{id}/env-vars/{var_id}:
    get:
      summary: Get environment variable
      description: Get environment variable by ID.
      tags: [env-vars]
      operationId: getEnvVar
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: var_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Variable details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvVar'
    put:
      summary: Update environment variable
      description: Update an existing environment variable.
      tags: [env-vars]
      operationId: updateEnvVar
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: var_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
      responses:
        '200':
          description: Variable updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvVar'
    delete:
      summary: Delete environment variable
      description: Delete an environment variable.
      tags: [env-vars]
      operationId: deleteEnvVar
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: var_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Variable deleted

  /services/{id}/env-vars/{var_id}/reveal:
    post:
      summary: Reveal secret value
      description: Reveal the decrypted value of a secret environment variable.
      tags: [env-vars]
      operationId: revealEnvVar
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: var_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Secret revealed
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  value:
                    type: string

  /services/{id}/env-vars/sync-from-pod:
    post:
      summary: Sync env vars from pod
      description: Sync environment variables from running pod. Requires admin role.
      tags: [env-vars]
      operationId: syncEnvVarsFromPod
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Variables synced
          content:
            application/json:
              schema:
                type: object
                properties:
                  synced_count:
                    type: integer

  # ============================================
  # PREVIEW ENVIRONMENTS
  # ============================================
  /services/{id}/previews:
    get:
      summary: List preview environments
      description: Get all preview environments for a service.
      tags: [previews]
      operationId: listServicePreviews
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Preview list
          content:
            application/json:
              schema:
                type: object
                properties:
                  previews:
                    type: array
                    items:
                      $ref: '#/components/schemas/PreviewEnvironment'
                  count:
                    type: integer

  /projects/{slug}/previews:
    get:
      summary: List project previews
      description: Get all preview environments for a project.
      tags: [previews]
      operationId: listProjectPreviews
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Preview list
          content:
            application/json:
              schema:
                type: object
                properties:
                  previews:
                    type: array
                    items:
                      $ref: '#/components/schemas/PreviewEnvironment'
                  count:
                    type: integer

  /previews:
    post:
      summary: Create preview environment
      description: Create a new preview environment for a PR.
      tags: [previews]
      operationId: createPreview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePreviewRequest'
      responses:
        '201':
          description: Preview created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewEnvironment'

  /previews/{id}:
    get:
      summary: Get preview environment
      description: Get preview environment by ID.
      tags: [previews]
      operationId: getPreview
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Preview details
          content:
            application/json:
              schema:
                type: object
                properties:
                  preview:
                    $ref: '#/components/schemas/PreviewEnvironment'
    delete:
      summary: Delete preview environment
      description: Delete a preview environment. Requires admin role.
      tags: [previews]
      operationId: deletePreview
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Preview deleted

  /previews/{id}/close:
    post:
      summary: Close preview environment
      description: Close a preview environment (mark as closed, stop resources).
      tags: [previews]
      operationId: closePreview
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Preview closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewEnvironment'

  /previews/{id}/wake:
    post:
      summary: Wake preview environment
      description: Wake up a sleeping preview environment.
      tags: [previews]
      operationId: wakePreview
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Preview woken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewEnvironment'

  /previews/{id}/access:
    post:
      summary: Record preview access
      description: Record that the preview was accessed (for activity tracking).
      tags: [previews]
      operationId: recordPreviewAccess
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Access recorded

  /previews/{id}/comments:
    get:
      summary: List preview comments
      description: Get comments on a preview environment.
      tags: [previews]
      operationId: listPreviewComments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Comment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  comments:
                    type: array
                    items:
                      $ref: '#/components/schemas/PreviewComment'
    post:
      summary: Create preview comment
      description: Add a comment to a preview environment.
      tags: [previews]
      operationId: createPreviewComment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePreviewCommentRequest'
      responses:
        '201':
          description: Comment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewComment'

  # ============================================
  # DEPENDENCIES & TOPOLOGY
  # ============================================
  /services/{id}/dependencies:
    get:
      summary: List service dependencies
      description: Get services that this service depends on.
      tags: [dependencies]
      operationId: listServiceDependencies
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dependencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  dependencies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
    post:
      summary: Add service dependency
      description: Add a dependency to a service.
      tags: [dependencies]
      operationId: addServiceDependency
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - depends_on_id
              properties:
                depends_on_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Dependency added

  /services/{id}/dependencies/{depends_on_id}:
    delete:
      summary: Remove service dependency
      description: Remove a dependency from a service.
      tags: [dependencies]
      operationId: removeServiceDependency
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: depends_on_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dependency removed

  /services/{id}/dependents:
    get:
      summary: List service dependents
      description: Get services that depend on this service.
      tags: [dependencies]
      operationId: listServiceDependents
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dependents
          content:
            application/json:
              schema:
                type: object
                properties:
                  dependents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'

  /topology:
    get:
      summary: Get service topology
      description: Get the complete service dependency graph (DAG).
      tags: [topology]
      operationId: getTopology
      responses:
        '200':
          description: Topology graph
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topology'

  /topology/services/{id}/impact:
    get:
      summary: Get service impact
      description: Get downstream services that would be affected by changes to this service.
      tags: [topology]
      operationId: getServiceImpact
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Impact analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  affected_services:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'

  /topology/path:
    get:
      summary: Find dependency path
      description: Find the path between two services in the dependency graph.
      tags: [topology]
      operationId: findDependencyPath
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dependency path
          content:
            application/json:
              schema:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'

  # ============================================
  # DEPLOYMENT GROUPS
  # ============================================
  /projects/{slug}/environments/{env_name}/deployment-groups:
    post:
      summary: Create deployment group
      description: Create a coordinated multi-service deployment group.
      tags: [deployment-groups]
      operationId: createDeploymentGroup
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: env_name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentGroupRequest'
      responses:
        '201':
          description: Deployment group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupResponse'

  /projects/{slug}/deployment-groups:
    get:
      summary: List deployment groups
      description: Get all deployment groups for a project.
      tags: [deployment-groups]
      operationId: listDeploymentGroups
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Deployment group list
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeploymentGroup'
                  count:
                    type: integer

  /projects/{slug}/deployment-groups/{group_id}:
    get:
      summary: Get deployment group
      description: Get deployment group details.
      tags: [deployment-groups]
      operationId: getDeploymentGroup
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Deployment group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroup'

  /projects/{slug}/deployment-groups/{group_id}/execute:
    post:
      summary: Execute deployment group
      description: Execute all deployments in a group.
      tags: [deployment-groups]
      operationId: executeDeploymentGroup
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Execution started
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  deployments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deployment'

  /projects/{slug}/deployment-groups/{group_id}/rollback:
    post:
      summary: Rollback deployment group
      description: Rollback all deployments in a group.
      tags: [deployment-groups]
      operationId: rollbackDeploymentGroup
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Rollback initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  # ============================================
  # TEAMS
  # ============================================
  /teams:
    get:
      summary: List teams
      description: Get all teams the user is a member of.
      tags: [teams]
      operationId: listTeams
      responses:
        '200':
          description: Team list
          content:
            application/json:
              schema:
                type: object
                properties:
                  teams:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
    post:
      summary: Create team
      description: Create a new team.
      tags: [teams]
      operationId: createTeam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamRequest'
      responses:
        '201':
          description: Team created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'

  /teams/{slug}:
    get:
      summary: Get team
      description: Get team by slug.
      tags: [teams]
      operationId: getTeam
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Team details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    patch:
      summary: Update team
      description: Update team settings. Requires team admin role.
      tags: [teams]
      operationId: updateTeam
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamRequest'
      responses:
        '200':
          description: Team updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    delete:
      summary: Delete team
      description: Delete a team. Requires team admin role.
      tags: [teams]
      operationId: deleteTeam
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Team deleted

  /teams/{slug}/members:
    get:
      summary: List team members
      description: Get all members of a team.
      tags: [teams]
      operationId: listTeamMembers
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Member list
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamMember'

  /teams/{slug}/members/{member_id}:
    patch:
      summary: Update member role
      description: Update a team member's role. Requires team admin role.
      tags: [teams]
      operationId: updateMemberRole
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: member_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
              properties:
                role:
                  type: string
                  enum: [owner, admin, member, viewer]
      responses:
        '200':
          description: Role updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
    delete:
      summary: Remove team member
      description: Remove a member from the team. Requires team admin role.
      tags: [teams]
      operationId: removeTeamMember
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: member_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Member removed

  /teams/{slug}/invitations:
    get:
      summary: List team invitations
      description: Get pending invitations for a team. Requires team admin role.
      tags: [invitations]
      operationId: listTeamInvitations
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invitation list
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitations:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamInvitation'
    post:
      summary: Invite team member
      description: Send an invitation to join the team. Requires team admin role.
      tags: [invitations]
      operationId: inviteTeamMember
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMemberRequest'
      responses:
        '201':
          description: Invitation sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamInvitation'

  /teams/{slug}/invitations/{invitation_id}:
    delete:
      summary: Cancel team invitation
      description: Cancel a pending invitation. Requires team admin role.
      tags: [invitations]
      operationId: cancelTeamInvitation
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: invitation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invitation cancelled

  /invitations:
    get:
      summary: List my invitations
      description: Get pending invitations for the current user.
      tags: [invitations]
      operationId: listMyInvitations
      responses:
        '200':
          description: Invitation list
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitations:
                    type: array
                    items:
                      $ref: '#/components/schemas/InvitationDetails'

  /invitations/{token}:
    get:
      summary: Get invitation by token
      description: Get invitation details by token.
      tags: [invitations]
      operationId: getInvitationByToken
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invitation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationDetails'

  /invitations/{token}/accept:
    post:
      summary: Accept invitation
      description: Accept a team invitation.
      tags: [invitations]
      operationId: acceptInvitation
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invitation accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  team:
                    $ref: '#/components/schemas/Team'

  /invitations/{token}/decline:
    post:
      summary: Decline invitation
      description: Decline a team invitation.
      tags: [invitations]
      operationId: declineInvitation
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invitation declined

  # ============================================
  # USAGE & BILLING
  # ============================================
  /usage:
    get:
      summary: Get usage summary
      description: Get resource usage summary.
      tags: [usage]
      operationId: getUsageSummary
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageSummary'

  /usage/costs:
    get:
      summary: Get cost breakdown
      description: Get cost breakdown by service and resource.
      tags: [usage]
      operationId: getCostBreakdown
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: month
      responses:
        '200':
          description: Cost breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostBreakdown'

  # ============================================
  # ACTIVITY & AUDIT
  # ============================================
  /activity:
    get:
      summary: Get activity log
      description: Get activity and audit log.
      tags: [activity]
      operationId: getActivity
      parameters:
        - name: action
          in: query
          schema:
            type: string
          description: Filter by action type
        - name: resource_type
          in: query
          schema:
            type: string
          description: Filter by resource type
        - name: project_id
          in: query
          schema:
            type: string
            format: uuid
        - name: actor_id
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Activity list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityListResponse'

  /activity/actions:
    get:
      summary: Get available actions
      description: Get list of available action types for filtering.
      tags: [activity]
      operationId: getActivityActions
      responses:
        '200':
          description: Action types
          content:
            application/json:
              schema:
                type: object
                properties:
                  actions:
                    type: array
                    items:
                      type: string

  /activity/resource-types:
    get:
      summary: Get available resource types
      description: Get list of available resource types for filtering.
      tags: [activity]
      operationId: getActivityResourceTypes
      responses:
        '200':
          description: Resource types
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_types:
                    type: array
                    items:
                      type: string

  # ============================================
  # OBSERVABILITY
  # ============================================
  /observability/metrics:
    get:
      summary: Get metrics snapshot
      description: Get current system metrics snapshot.
      tags: [observability]
      operationId: getMetricsSnapshot
      responses:
        '200':
          description: Metrics snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsSnapshot'

  /observability/metrics/history:
    get:
      summary: Get metrics history
      description: Get time-series metrics data.
      tags: [observability]
      operationId: getMetricsHistory
      parameters:
        - name: range
          in: query
          schema:
            type: string
            enum: ['1h', '6h', '24h', '7d']
            default: '24h'
      responses:
        '200':
          description: Metrics history
          content:
            application/json:
              schema:
                type: object

  /observability/health:
    get:
      summary: Get service health
      description: Get health status for all services.
      tags: [observability]
      operationId: getServicesHealth
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceHealthResponse'

  /observability/errors:
    get:
      summary: Get recent errors
      description: Get recent error logs with stack traces.
      tags: [observability]
      operationId: getRecentErrors
      responses:
        '200':
          description: Recent errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentErrorsResponse'

  /observability/alerts:
    get:
      summary: Get active alerts
      description: Get currently active alerts by severity.
      tags: [observability]
      operationId: getActiveAlerts
      responses:
        '200':
          description: Active alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertsResponse'

  # ============================================
  # INTEGRATIONS
  # ============================================
  /integrations/github/status:
    get:
      summary: Get GitHub integration status
      description: Get GitHub integration connection status.
      tags: [integrations]
      operationId: getGitHubStatus
      responses:
        '200':
          description: Integration status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStatusResponse'

  /integrations/github/repos:
    get:
      summary: List GitHub repositories
      description: Get accessible GitHub repositories.
      tags: [integrations]
      operationId: listGitHubRepos
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Repository list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubReposResponse'

  /integrations/github/link:
    post:
      summary: Link GitHub account
      description: Start GitHub OAuth flow to link account.
      tags: [integrations]
      operationId: linkGitHub
      responses:
        '200':
          description: Auth URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  auth_url:
                    type: string

  /integrations/github/repos/{owner}/{repo}/branches:
    get:
      summary: Get repository branches
      description: Get branches for a GitHub repository.
      tags: [integrations]
      operationId: getRepositoryBranches
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Branch list
          content:
            application/json:
              schema:
                type: object
                properties:
                  branches:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        protected:
                          type: boolean

  /integrations/github/repos/{owner}/{repo}/analyze:
    post:
      summary: Analyze repository
      description: Analyze repository structure to detect services and build configuration.
      tags: [integrations]
      operationId: analyzeRepository
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Repository analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryAnalysis'

  # ============================================
  # API TOKENS
  # ============================================
  /user/tokens:
    get:
      summary: List API tokens
      description: Get all API tokens for the current user.
      tags: [tokens]
      operationId: listApiTokens
      responses:
        '200':
          description: Token list
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiToken'
    post:
      summary: Create API token
      description: Create a new API token for CLI/CI access.
      tags: [tokens]
      operationId: createApiToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                expires_at:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Token created (plain text token only shown once)
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Plain text token - save immediately
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  expires_at:
                    type: string
                    format: date-time

  /user/tokens/{token_id}:
    get:
      summary: Get API token
      description: Get API token metadata.
      tags: [tokens]
      operationId: getApiToken
      parameters:
        - name: token_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Token details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiToken'
    delete:
      summary: Revoke API token
      description: Revoke an API token.
      tags: [tokens]
      operationId: revokeApiToken
      parameters:
        - name: token_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Token revoked

  # ============================================
  # WEBHOOKS
  # ============================================
  /webhooks/github:
    post:
      summary: GitHub webhook
      description: |
        Receive GitHub webhook events. Authenticated via HMAC SHA256 signature.
        Triggers automatic builds on push events.
      tags: [integrations]
      operationId: githubWebhook
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed

  /callbacks/build-complete:
    post:
      summary: Build complete callback
      description: Callback from Roundhouse worker when build completes.
      tags: [builds]
      operationId: buildCompleteCallback
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                build_id:
                  type: string
                status:
                  type: string
                  enum: [success, failed]
                image_uri:
                  type: string
                error:
                  type: string
      responses:
        '200':
          description: Callback processed

  # ============================================
  # DEPLOYMENT LIFECYCLE ENDPOINTS
  # ============================================

  /v1/callbacks/lifecycle-event:
    post:
      summary: Report a deployment lifecycle event
      description: |
        Called by external CI workflows (dhanam, janua, etc.) to report build and deploy events.
        Auth: Bearer token (ENCLII_CALLBACK_TOKEN).
      tags: [lifecycle]
      operationId: reportLifecycleEvent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LifecycleEventCreate'
      responses:
        '201':
          description: Event recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: recorded
        '400':
          description: Invalid event data
        '401':
          description: Invalid or missing bearer token

  /v1/lifecycle/timeline/{owner}/{repo}:
    get:
      summary: Get lifecycle timeline for a repository
      description: Returns lifecycle events for the specified repo, most recent first.
      tags: [lifecycle]
      operationId: getLifecycleTimeline
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: branch
          in: query
          schema:
            type: string
          description: Filter by branch name
        - name: env
          in: query
          schema:
            type: string
            enum: [production, staging, preview, dev]
          description: Filter by target environment
        - name: event_type
          in: query
          schema:
            type: string
          description: Filter by event type
        - name: since
          in: query
          schema:
            type: string
            format: date-time
          description: Only events after this timestamp
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: List of lifecycle events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentLifecycleEvent'

  /v1/lifecycle/branch/{owner}/{repo}/{branch}:
    get:
      summary: Get lifecycle events for a specific branch
      tags: [lifecycle]
      operationId: getLifecycleBranch
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Events for the branch
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentLifecycleEvent'

  /v1/lifecycle/commit/{sha}:
    get:
      summary: Get lifecycle events for a specific commit
      tags: [lifecycle]
      operationId: getLifecycleCommit
      parameters:
        - name: sha
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Events for the commit
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentLifecycleEvent'

  /v1/lifecycle/events:
    get:
      summary: List recent lifecycle events
      description: Returns recent lifecycle events across all repos, filterable.
      tags: [lifecycle]
      operationId: listLifecycleEvents
      parameters:
        - name: env
          in: query
          schema:
            type: string
        - name: event_type
          in: query
          schema:
            type: string
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: List of recent events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentLifecycleEvent'

  # ============================================
  # ONBOARDING ENDPOINTS
  # ============================================

  /v1/admin/onboard:
    post:
      summary: Onboard a new repository
      description: |
        Multi-step onboarding: validates enclii.yaml, creates project/services,
        sets up webhook, generates ArgoCD app YAML, provisions domains.
      tags: [onboarding]
      operationId: onboardRepo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingRequest'
      responses:
        '200':
          description: Onboarding completed (or partially completed)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [completed, partial, failed]
                    description: Overall onboarding outcome
                  registration:
                    $ref: '#/components/schemas/OnboardingRegistration'
                  step_results:
                    type: array
                    description: Per-step outcome details
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        status:
                          type: string
                          enum: [ok, failed, skipped]
                        detail:
                          type: string
                  argocd_yaml:
                    type: string
                  next_steps:
                    type: array
                    items:
                      type: string
        '400':
          description: Invalid request, enclii.yaml, or manifest path not found
        '500':
          description: Critical onboarding step failed
    get:
      summary: List all onboarded repositories
      tags: [onboarding]
      operationId: listOnboardings
      responses:
        '200':
          description: List of onboarding registrations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OnboardingRegistration'

  /v1/admin/onboard/{owner}/{repo}:
    get:
      summary: Get onboarding status for a repository
      tags: [onboarding]
      operationId: getOnboarding
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Onboarding registration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingRegistration'
        '404':
          description: Repository not onboarded

  /v1/admin/onboard/preflight:
    post:
      summary: Preflight manifest validation
      description: |
        Validates K8s manifests from a repository against the cluster's admission policies
        (Kyverno, OPA) using server-side dry-run. Use this before onboarding to catch
        issues like unqualified images, missing security context, or policy violations.
      tags: [onboarding]
      operationId: preflightOnboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingRequest'
      responses:
        '200':
          description: Preflight validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreflightResult'
        '400':
          description: Invalid request or manifest path not found
        '503':
          description: GitHub token or K8s client not available

  # ============================================
  # PROVISIONING ENDPOINTS
  # ============================================

  /v1/admin/provision/postgres:
    post:
      summary: Provision a Postgres database and role
      description: |
        Creates a database and role in the shared Postgres instance, grants privileges,
        enables extensions, and updates PgBouncer configuration.
      tags: [onboarding]
      operationId: provisionPostgres
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionPostgresRequest'
      responses:
        '200':
          description: Database provisioned
        '400':
          description: Invalid request (bad identifier or missing fields)
        '503':
          description: Postgres provisioning not configured

  /v1/admin/provision/secrets:
    post:
      summary: Create K8s secrets in a namespace
      description: |
        Creates or updates a K8s Secret named <project>-credentials in the given namespace.
        Rejects placeholder values.
      tags: [onboarding]
      operationId: provisionSecrets
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionSecretsRequest'
      responses:
        '200':
          description: Secrets provisioned
        '400':
          description: Invalid request (placeholder values or missing fields)
        '503':
          description: Secrets provisioning not configured

  /v1/admin/provision/r2:
    post:
      summary: Create a Cloudflare R2 bucket
      description: Creates an R2 bucket and optionally appends R2 credentials to the project's K8s secret.
      tags: [onboarding]
      operationId: provisionR2
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionR2Request'
      responses:
        '200':
          description: R2 bucket provisioned
        '400':
          description: Invalid request
        '503':
          description: R2 provisioning not configured

  # ============================================
  # ADMIN CONTROL PLANE ENDPOINTS
  # ============================================

  /v1/admin/fleet:
    get:
      summary: List bare metal hosts
      tags: [admin]
      operationId: listBareMetalHosts
      responses:
        '200':
          description: List of bare metal hosts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BareMetalHost'
    post:
      summary: Register a bare metal host
      tags: [admin]
      operationId: registerBareMetalHost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BareMetalHost'
      responses:
        '201':
          description: Host registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BareMetalHost'

  /v1/admin/fleet/{id}:
    get:
      summary: Get bare metal host details
      tags: [admin]
      operationId: getBareMetalHost
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Host details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BareMetalHost'

  /v1/admin/fleet/{id}/firmware:
    put:
      summary: Update host firmware settings
      tags: [admin]
      operationId: updateFirmware
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
      responses:
        '200':
          description: Firmware update requested

  /v1/admin/fleet/{id}/partition:
    put:
      summary: Configure RAID and partitioning
      tags: [admin]
      operationId: configurePartition
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                root_device_hints:
                  type: object
                raid_config:
                  type: object
      responses:
        '200':
          description: Partition configured

  /v1/admin/fleet/{id}/wipe:
    post:
      summary: Trigger ATA Secure Erase
      tags: [admin]
      operationId: secureWipe
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Secure wipe initiated

  /v1/admin/fleet/{id}/power:
    put:
      summary: Control host power state
      tags: [admin]
      operationId: setPowerState
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [on, off, reboot]
      responses:
        '200':
          description: Power action executed

  /v1/admin/clusters:
    get:
      summary: List registered clusters
      tags: [admin]
      operationId: listAdminClusters
      responses:
        '200':
          description: List of clusters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cluster'
    post:
      summary: Register a cluster
      tags: [admin]
      operationId: registerCluster
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
      responses:
        '201':
          description: Cluster registered

  /v1/admin/clusters/{id}:
    get:
      summary: Get cluster details
      tags: [admin]
      operationId: getAdminCluster
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Cluster details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
    put:
      summary: Update cluster
      tags: [admin]
      operationId: updateCluster
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
      responses:
        '200':
          description: Cluster updated
    delete:
      summary: Deregister cluster
      tags: [admin]
      operationId: deregisterCluster
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Cluster deregistered

  /v1/admin/resources:
    get:
      summary: List managed resources
      tags: [admin]
      operationId: listManagedResources
      responses:
        '200':
          description: List of managed resources
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ManagedResource'
    post:
      summary: Create or import a managed resource
      tags: [admin]
      operationId: createManagedResource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedResource'
      responses:
        '201':
          description: Resource created

  /v1/admin/resources/{id}:
    get:
      summary: Get managed resource details
      tags: [admin]
      operationId: getManagedResource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Resource details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedResource'
    delete:
      summary: Delete managed resource
      tags: [admin]
      operationId: deleteManagedResource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Resource deleted

  /v1/admin/resources/{id}/policy:
    put:
      summary: Switch management policy
      tags: [admin]
      operationId: switchResourcePolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                policy:
                  type: string
                  enum: [FullControl, ObserveOnly, OrphanOnDelete]
      responses:
        '200':
          description: Policy updated

  /v1/admin/vclusters:
    get:
      summary: List virtual clusters
      tags: [admin]
      operationId: listVirtualClusters
      responses:
        '200':
          description: List of virtual clusters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VirtualCluster'
    post:
      summary: Provision a virtual cluster
      tags: [admin]
      operationId: provisionVirtualCluster
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualCluster'
      responses:
        '201':
          description: Virtual cluster provisioning started

  /v1/admin/vclusters/{id}:
    get:
      summary: Get virtual cluster details
      tags: [admin]
      operationId: getVirtualCluster
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Virtual cluster details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCluster'
    delete:
[...]
